*{
    box-sizing: border-box;
}

div{
    background-image: url(../img/f02.png),url(../img/f03.png), url(../img/f01.png);
    background-position-y: bottom, top, bottom;
    background-repeat: no-repeat, repeat-x, repeat-x;
    background-color:lightskyblue;
}
.anterior, .posterior{
    width: 15em;
    height: 7.5em; 
    border: 0.3em solid blue;
    padding: 0.2em;
}

.principal{
    width: 30em;
    height: 20em;
    border: 0.3em solid red;
    margin: 1em;
    padding: 1em;
}


